{% extends 'blog/base.html' %}

{% block content %}

<div class="card text-bg-light mb-3" style="width: 18rem;">
  <img class="card-img-top" src="{{ object.author.profile.image.url }}">
  <div class="card-body">
    <h5 class="card-title">{{ object.title }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Created By: <a href="{% url 'blog:user-posts-view' object.author.username %}">{{ object.author }}</a></h6>
    <small class="card-subtitle mb-2 text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
    <p class="card-text">{{ object.content }}</p>
    {% if object.author == user %}
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'blog:update-view' object.id %}">Update</a>
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'blog:delete-view' object.id %}">Delete</a>
    {% endif %}
  </div>
</div>

{% endblock %}