{% extends 'base.html' %}

{% block title %}
    User
{% endblock %}

{% block base_content %}
    <main role="main" class="container mt-5" style="margin-top:100px">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

{% endblock %}